# Tuple

In [2]:
tup = (4, 5, 6)
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [4]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [5]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [6]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b
rest

[3, 4, 5]

In [7]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [8]:
a.count(4)

1

# List

In [10]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [11]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [13]:
gen = range(10)
gen

range(0, 10)

In [14]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [16]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [17]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [18]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [19]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [20]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [21]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [22]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [23]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [25]:
seq[:5]

[7, 2, 3, 7, 5]

In [26]:
seq[3:]

[7, 5, 6, 0, 1]

In [27]:
seq[-6:-2]

[3, 7, 5, 6]

In [28]:
seq[::2]

[7, 3, 5, 0]

In [29]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [31]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [32]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [33]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [34]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [35]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [37]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names

('Nolan', 'Roger', 'Schilling')

In [38]:
last_names

('Ryan', 'Clemens', 'Curt')

In [39]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# Dict

In [40]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [42]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [43]:
d1['b']

[1, 2, 3, 4]

In [44]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [46]:
del d1[7]
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'dummy': 'another value'}

In [47]:
ret = d1.pop('dummy')
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [49]:
list(d1.keys())

['a', 'b']

In [50]:
list(d1.values())

['some value', [1, 2, 3, 4]]

In [51]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 'c': 12}

In [52]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [53]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [54]:
hash('string')

949810924

In [55]:
hash((1, 2, (2, 3)))

1387206534

In [56]:
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [57]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

# Set

In [59]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [61]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [62]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [63]:
a.intersection(b)
a & b

{3, 4, 5}

In [66]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [67]:
d = a.copy()
d &= b
d

{3, 4, 5}

In [68]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

# List, Set, and Dict Comprehensions

In [69]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [70]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [71]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [73]:
result = [name for names in all_data for name in names
          if name.count('e') >= 1]
result

['Michael', 'Steven', 'Javier']

In [74]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [77]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [79]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [80]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [81]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [82]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [83]:
dict_iterator = iter(some_dict)
dict_iterator

In [84]:
list(dict_iterator)

['a', 'b', 'c']

In [85]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [86]:
gen = squares()
gen

In [87]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [88]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']